/* Bootstrap
**************************************************/
@import 'bootstrap.less';
@import 'responsive.less';

@footer_height:			50px;

@page_header_height:	50px;

@tools_width:			200px;
@tools_bg:				#eee;

@ui_grey:				darken(@tools_bg, 20%);

html {
	height: 100%;
}

body {
	background: @bodyBackground;
	height: 100%;
	padding: 0;
	margin: 0;
	min-width: 320px;
	min-height: 480px;

	&.clean {
		background: #4f535c;
		background-image: url("../img/noise-light.png");
	}
}

#top {
	min-height: 100%;
}

a:hover {
	text-decoration: none;
}

#content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -(@footer_height) auto;
	min-height: 100%;
	padding-top: @navbarHeight;
	padding-left: 0;
	padding-right: 0;

	&.clean {
		padding: 0;
		margin: 0;
	}
}

header.admin {
	min-height: @navbarHeight;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: @zindexFixedNavbar;
	background: @linkColor;
	border-bottom: 1px solid darken(@linkColor,10%);

	ul.nav {
		height: @navbarHeight;
		
		> li.active {
			border-bottom: 4px solid @grayLighter;
			
			> a {
				text-shadow: none;
				
				> i.icon-white {
					background-image: url("../img/glyphicons-halflings.png");
				}
			}
		}
	}
}

footer.admin {
	height: @footer_height;
	
	p {
		height: @footer_height;
		line-height: @footer_height;
		margin: 0;
		padding: 0 0 0 @tools_width;
		text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	}
}

.modal-login {

	width: 360px;
	margin-left: -180px;
	border: none;
	top: 20%;

	h2 {
		text-align: center;
		margin-bottom: 10px;
	}

	p.lead {
		text-align: center;
		color: @grayLight;
		font-size: @baseFontSize * 1.1;
		line-height: @baseLineHeight * 1.1;
		margin-bottom: 20px;
	}

	div.controls {
		width: 100%;
	}

	#username,
	#password {
		background-image: url("../img/be-sprite.png");
		padding-left: 46px;
		background-repeat: no-repeat;
		background-color: @grayLighter;
		width: 100%;
		box-sizing: border-box;
		
		font-size: 130%;
		height: 40px;
	
		&:focus {
			background-color: lighten(@grayLighter, 4%);
		}
	}

	#username {
		background-position: 8px 11px;
	}

	#password {
		background-position: 8px -44px;
	}
	
	#login {
		margin-top: 10px;
	}
}

.dropdown-menu {
	margin: 4px 0 0 0;
	border: none;
	.border-radius(@baseBorderRadius);
	.box-shadow(0 1px 2px rgba(0,0,0,.5));
}

#scroll-to-top {
	right: 15px;
	bottom: -10px;
	width: 70px;
	padding: 20px 10px 30px;
	-moz-transition: bottom 250ms ease-in-out;
	-webkit-transition: bottom 250ms ease-in-out;

	background: #ccc;
	.border-radius(@baseBorderRadius @baseBorderRadius 0 0);
	.box-shadow(0 1px 2px rgba(0,0,0,.5));

	border-width: 0;
	display: block;
	font-size: 15px;
	text-align: center;
	position: fixed;
	z-index: 4;
}

#scroll-to-top.offscreen {
	bottom: -100px;
	-moz-transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
}

.be-tooltip {
	cursor: help;
}

#be-container {
	position: relative;
	
	padding: 0;
	height: 100%;

	margin-bottom: @footer_height;

	div.be-main {
		display: block;

		min-height: 300px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		// margin-left: @tools_width;
		
		div.be-header {
			position: fixed;
			left: 0;
			right: 0;
			z-index: @zindexFixedNavbar;
			background: @grayLighter;
			
			padding: 0 20px;
			
			height: @page_header_height;
			border-bottom: 1px solid lighten(@ui_grey, 10%);
	
			div.title {
				float: left;

				h1 {
					margin: 0;
					padding: 0;
					height: @page_header_height;
					line-height: @page_header_height;
					font-size: (@baseFontSize * 2);
					white-space: nowrap;
				}
				
			}

			div.actions {
				float: right;
				height: (@page_header_height - 14px);
				padding: 6px 0 6px 10px;
				margin-right: -15px;
				
				> .btn {
					line-height: @page_header_height - 14px;
					padding-top: 0;
					padding-bottom: 0;
				}
				
				> div.item {
					height: @page_header_height - 14px;
					line-height: @page_header_height - 14px;
					padding-top: 0;
					padding-bottom: 0;
					display: inline-block;
					position: relative;
					top: 1px;
					color: @textColor;
					float: left;
				}
			}

			div.actions.left {
				float: left;

				> .btn {
					background: transparent;
					border-color: fade(@btnBorder, 30%);
					box-shadow: none;
				}
				
				> .btn:hover {
				  .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
				  border: 1px solid @btnBorder;
				  .border-radius(@baseBorderRadius);
				  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.1)");
				}

				// Active state
				> .btn:active {
					background-image: none;
					outline: 0;
					.box-shadow(~"inset 0 2px 1px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
				}

			}
		}
		
		div.be-content {
			background: @white;
			padding: (@page_header_height + 20px) 20px 10px 20px;
		}
	}

	div.screen {
		display: none;
	}

	div.screen.active {
		display: block;
	}
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
}

.name img {
	float: left;
	border-radius: @borderRadiusSmall;
	margin-right: 8px;
}

/* Imports */
@import 'datepicker.less';
@import 'colorpicker.less';
@import 'timepicker.less';
@import 'social-count.less';
@import 'be-bootstrap-overloads.less';
